#header-about-me {
    position: relative;
}

#about-body{
    background-image: url($aboutBg);
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: top;
}

#about-me {
    height: auto;
    margin: 150px 0 200px 15vw;

    h1 {font-size: 60px;}
    h2 {font-size: 50px;}

    p {
        width: 50vw;
        font-size: 30px;
    }

    #img-absolute {
        position: absolute;
        height: 900px;
        width: 900px;

        right: -350px;
        top: 500px;
    }

}