#animation-load {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #000;

    overflow: hidden;
}

#skip-animation {
    text-decoration: none;
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
    margin: 50px;

    i {
        margin-left: 10px;
    }
}

