footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $footerColor;
    background-image: url($footerBgImage);
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-position: bottom;
    color: $reverseTextColor;
    height: 450px;
    padding-left: 10vw;

    h2 {
        margin-top: 20vh;
        font-size: 50px;
        font-weight: 700;
    }

    #footer-row {
        display: flex;
        flex-direction: row;
        margin-top: 25px;

        .footer-items {
            margin-right: 200px;


            h3 {
                font-weight: 400;
                font-size: 25px;
                margin: 0 0 30px 0;
                padding: 0;
            }
        
            .social-media {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
        
                i {
                    margin-right: 40px;
                    font-size: 55px;
                    color: $reverseTextColor;
                }
            }
        }
    }

    #to-top {
        width: 7vw;
        height: 10vh;
        position: absolute;
        right: 15vw;
    }

    #msg {
        position: absolute;
        height: 100px;
        width: 100px;
        right: 10vw;
        top: 200px;
        background-image: url($msgBg);
        background-size:cover;
        background-repeat: no-repeat;
    }
}
