header {
  position: fixed;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh 10vw 0 10vw;

  z-index: 777;
  background-color: transparent;

  .logo {
    background-image: url($headerLogo);
    background-size: contain;

    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;

    svg {
      display: none;
    }

    &:hover {
      background-image: none;
      svg {
        display: block;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;

      li {
        margin: 0 15px;
        display: flex;

        a {
          color: $standardTextColor;
          font-size: 25px;
          font-weight: 600;

          .line {
            transition: width 0.25s ease-out;
            height: 2px;
            width: 0;
            background-color: #000;
          }

          &:hover {
            .line {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
