#home {
  padding-right: $bodyLayoutX;
  display: flex;
  align-items: center;
  background-image: url($scrollBgImg);
  background-size: 1920px auto;
  background-repeat: no-repeat;

  .about {
    position: relative;
    width: 1200px;
    margin-left: 15vw;

    h1 {
      font-size: 60px;
      font-weight: 700;
    }

    p {
      font-size: 30px;
      font-weight: 400;
    }
  }

  /* .scroll-indicator {
    position: absolute;
    right: 10vw;
    bottom: 10vh;
    width: 110px;
    height: 110px;
    background-image: url($scrollBgImg);
    background-size: contain;
    background-repeat: no-repeat;
  } */
}
