#home {
  padding-right: $bodyLayoutX;
  display: flex;
  align-items: center;
  background-image: url($scrollBgImg);
  background-size: 100vw auto;
  background-position: bottom;
  background-repeat: no-repeat;

  #srcoll-indicator {
    position: absolute; 
    width: 100px;
    height: 100px;
    right: 161px;
    bottom: 70px;
    text-align: center;

    #scroll-txt {
      transition: opacity 0.25s ease-in-out;
      opacity: 0;
    }

    &:hover {
      #scroll-txt {
        opacity: 1;
      }
    }
  }

  .about {
    position: relative;
    width: 1000px;
    margin-left: 15vw;

    h1 {
      font-size: 60px;
      font-weight: 700;
    }

    p {
      font-size: 30px;
      font-weight: 400;
    }
  }
}
