.scroller {
  height: 100vh;
}

.home-projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-justify-content: space-between;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $bgBodyColor;
  background-image: url("https://portfoliob1.herokuapp.com/chloe/images/top_home_bg.svg"), url("https://portfoliob1.herokuapp.com/chloe/images/bot_home_bg.svg");
  background-size: 100vw auto, 100vw auto;
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;

  .text-wrap {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 110vh;
    margin-bottom: 60vh;
    margin-left: 20vw;

    .panel-text {
      position: absolute;
      width: 800px;
      height: 100%;
      color: $standardTextColor;

      transform: translateY(100%);
      opacity: 0;

      h2 {
        font-size: 40px;
        font-weight: bold;
      }
      p {
        font-size: 25px;
      }

      .tags-row {
        display: flex;
        flex-direction: row;

        .tag {
          background-color: #E02421;
          border-radius: 5px;
          padding: 0 10px;
          margin: 0 60px 0 0;
        }
      }
    }
  }

  .p-wrap {
    position: relative;
    overflow: hidden;
    width: 25vw;
    height: 90vh;
    border-radius: 20px;
    margin-right: 10vw;

    .panel {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 120vh 90vh;
    }
  }
}

.next-section {
  height: auto;
  overflow-x: hidden;
  margin-bottom: 5vh;
  padding-top: 10vh;

  background-image: url("https://portfoliob1.herokuapp.com/chloe/images/caroussel_bg.svg");
  background-size: 100vw auto;
  background-position: top;
  background-repeat: no-repeat;
}

// -------------------- carrousel ----------------------

.wrapper {
  height: auto;
  display: inline-flex;
  position: relative;

  p {
    font-size: 75px;
    font-weight: 500;
    padding: 50px 50px;
    color : #A38360;
  }

  p:nth-child(2n+1) {
    color : transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #A38360;
  }
}
