#home {
  padding-right: $bodyLayoutX;
  display: flex;
  align-items: center;
  background-image: url($scrollBgImg);
  background-size: 100vw auto;
  background-position: bottom;
  background-repeat: no-repeat;

  .about {
    position: relative;
    width: 1000px;
    margin-left: 15vw;

    h1 {
      font-size: 60px;
      font-weight: 700;
    }

    p {
      font-size: 30px;
      font-weight: 400;
    }
  }
}
