#header-portfolio {
    position: relative;
}

#portfolio-body {
    background-image: url($portfolioBg);
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: top;
}

.texts-portfolio {
    width: 75vw;
    margin: 200px 20vw;

    h1 {
        font-size: 60px;
        font-weight: 700;
    }
    p {
        font-size: 30px;
        font-weight: 500;
    }

    #p-1 {
        margin-left: 0;
        margin-top: 50px;
    }

    #p-2 {margin-left: 200px;}

    #p-3 {
        margin-left: 400px;
        font-weight: 600;
    }

}

#portfolio-projects {
    width: 100vw;
    justify-content: center;
    height: auto;
    display: grid; 
    margin-bottom: 50px;
   

    column-gap: 30px;
    row-gap: 50px;

    .project {
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        color: $standardTextColor;
        border-radius: 20px;

        .hover-project {
            transition: background-color 0.25s ease-out;
            background-color : rgba(163,131,96,0);
            height: 100%;
            width: 100%;
            z-index: 50;

            .title-portfolio {
                transition: opacity 0.25s ease-out;
                margin: 50px;
                opacity: 0;
                font-size: 55px;
            }

            &:hover {
                background-color : rgba(163,131,96,0.8);

                .title-portfolio {
                    opacity: 1;
                    // backdrop-filter: blur(10px);
                }
                
            }
        }

    }
}

.portfolio-skills {
    height: auto;
}