#header-single-project,
#footer-single-project {
    position: relative;
}

#single-project-body {
    background-image: url($aboutBg);
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: top;
}

#single-project {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    #texts {
        margin: 100px 0;
        width: 1200px;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 60px;
        }
        p {
            font-size: 30px;
        }
    }

    img {
        z-index: 5;
        height: 1200px;
        width: 1600px;
        object-fit: contain;
        overflow: hidden;
    }

    #row-tag {
        width: 100vw;
        height: 300px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 30px;
    }

    a {
        font-weight: 500;
        font-size: 40px;
        text-decoration: none;
        color: #e02421;
        transition : color 0.15s ease-out;

        &:hover {
            color: $standardTextColor;
        }
    }
}

.single-project-skills {
    height: auto;
}

.tags-row {
    display: flex;
    flex-direction: row;

    .tag {
        background-color: #e02421;
        border-radius: 5px;
        padding: 0 10px;
        margin: 0 60px 0 0;
    }


}
