$bodyLayoutX: 10vw;
$bodyLayoutY: 5vh;

$bgBodyColor: #fff;
$footerColor: transparent;
$standardTextColor: #333333;
$reverseTextColor: #fff;

$scrollBgImg : "../images/scroll.svg";
$headerLogo : "../images/logo_chloe.svg";
$footerBgImage : "../images/footer_bg.svg";
$msgBg : "../images/msg.svg";
$portfolioBg: "../images/bg-portfolio.svg";
$aboutBg: "../images/bg-about.svg";


$scrollbarColor: #0c5f65;
$scrollbarThumbColor: #35aca4;

$headerHeight: 5vh;