$bodyLayoutX: 10vw;
$bodyLayoutY: 5vh;

$bgBodyColor: #fff;
$footerColor: transparent;
$standardTextColor: #333333;
$reverseTextColor: #fff;

$scrollBgImg : "https://portfoliob1.herokuapp.com/chloe/images/scroll.svg";
$headerLogo : "https://portfoliob1.herokuapp.com/chloe/images/logo_chloe.svg";
$footerBgImage : "https://portfoliob1.herokuapp.com/chloe/images/footer_bg.svg";
$msgBg : "https://portfoliob1.herokuapp.com/chloe/images/msg.svg";


$scrollbarColor: #0c5f65;
$scrollbarThumbColor: #35aca4;

$headerHeight: 5vh;