#header-about-me {
    position: relative;
}

#about-me {
    height: auto;
    margin: 150px 0 200px 15vw;

    #frame-left-about-me {
        position: absolute;
        height: 250px;
        width: 250px;
        left: -125px;
        top: 75vh;
    }

    h1 {font-size: 60px;}
    h2 {font-size: 50px;}

    p {
        width: 50vw;
        font-size: 30px;
    }

    #img-absolute {
        position: absolute;
        height: 900px;
        width: 900px;

        right: -390px;
        top: 500px;
    }

    .reveal {
        opacity: 0;
    }

}