footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $footerColor;
    background-image: url($footerBgImage);
    background-size: cover;
    background-repeat: no-repeat;
    color: $standardTextColor;
    height: 400px;
    padding-left: 10vw;

    h2 {
        font-size: 50px;
        font-weight: 700;
    }

    #footer-row {
        display: flex;
        flex-direction: row;
        margin-top: 50px;

        .footer-items {
            margin-right: 200px;


            h3 {
                font-size: 25px;
                margin: 0 0 50px 0;
                padding: 0;
            }
        
            .social-media {
                margin-top: 50px;
                display: flex;
                flex-direction: row;
        
                i {
                    margin-right: 40px;
                    font-size: 55px;
                    color: $standardTextColor;
                }
            }
        }
    }

    

    

    #to-top {
        transition: all ease-out 0.25s;
        position: absolute;
        right: 12vw;
        top: 100px;
        font-size: 50px;
        color: #124F7B;

        &:hover {
            top: 90px;
            cursor: pointer;
        }
    }

    #msg {
        position: absolute;
        height: 100px;
        width: 100px;
        right: 10vw;
        top: 200px;
        background-image: url($msgBg);
        background-size:contain;
        background-repeat: no-repeat;
    }
}
