.scroller {
  height: 100vh;
}

.home-projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $bgBodyColor;

  .text-wrap {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 80vh;

    .panel-text {
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      background-color: #ffffff;

      transform: translateY(100%);
      opacity: 0;
    }

    .panel-text.project-1-text {
      color: blue;
    }

    .panel-text.project-2-text {
      color: red;
    }

    .panel-text.project-4-text {
      color: purple;
    }

    .panel-text.project-3-text {
      color: orange;
    }
  }

  .p-wrap {
    position: relative;
    overflow: hidden;
    width: 25vw;
    height: 90vh;


    .panel {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: yellow;

      // position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size:  120vh 90vh;
    }
    
    .panel.project-1-img {
      background-color: blue;
    }
    
    .panel.project-2-img {
      background-color: red;
      background-image: url("https://cdn.dribbble.com/users/7357311/screenshots/15417773/illustration_mockup.jpg");
      
    }
    
    .panel.project-3-img {
      background-color: orange;
      background-image: url("https://cdn.dribbble.com/users/7357311/screenshots/15414604/papeteries_mockups__horizontal_.jpg");
    }
    
    .panel.project-4-img {
      background-color: purple;
    }
  }


}

.next-section {
  height: 100vh;
  background-color: $bgBodyColor;
}









