#header-portfolio {
    position: relative;
}

.texts-portfolio {
    width: 1200px;
    margin: 200px 360px;
}

#portfolio-projects {
    width: 100vw;
    justify-content: center;
    height: auto;
    display: grid; 
    margin-bottom: 50px;

    column-gap: 30px;
    row-gap: 50px;
}