$bodyLayoutX: 10vw;
$bodyLayoutY: 5vh;

$bgBodyColor: #262626;
$footerColor: #FFF;
$standardTextColor: #FFF;
$reverseTextColor: #000;
$circleColor: #124F7B;

$scrollbarColor: #0c5f65;
$scrollbarThumbColor: #35aca4;

$headerHeight: 5vh;