$bodyLayoutX: 10vw;
$bodyLayoutY: 5vh;

$bgBodyColor: linear-gradient(180deg, #001D38 0%, #002B53 100%);
$footerColor: #FFF;
$standardTextColor: #FFF;
$reverseTextColor: #000;

$scrollBgImg : "https://portfoliob1.herokuapp.com/loic/images/hexagone_scroll.svg";
$headerLogo : "https://portfoliob1.herokuapp.com/loic/images/logo_loic.svg";
$footerBgImage : "https://portfoliob1.herokuapp.com/loic/images/footer_bg.svg";
$msgBg : "https://portfoliob1.herokuapp.com/loic/images/msg.svg";


$scrollbarColor: #0c5f65;
$scrollbarThumbColor: #35aca4;

$headerHeight: 5vh;