#header-about-me {
    position: relative;
}

#about-me {
    height: auto;
    margin: 150px 0 200px 15vw;

    h1 {font-size: 50px;}
    h2 {font-size: 40px;}

    p {
        width: 42vw;
        font-size: 30px;
    }

    #img-absolute {
        position: absolute;
        height: 800px;
        width: 800px;

        right: -350px;
        top: 450px;
    }

    .reveal {
        opacity: 0;
    }

}