body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animation-load {
    position: relative;
    width: 100%;
    background-color: #fff;



}

#skip-animation {
    text-decoration: none;
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
    margin: 50px;
    color: #fff;

    i {
        margin-left: 10px;
    }
}

