header {
  position: fixed;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh 10vw 0 10vw;

  z-index: 999;
  background-color: $bgBodyColor;

  .logo {
    background-image: url($headerLogo);
    background-size: contain;
    background-repeat: no-repeat;

    height: 150px;
    width: 320px;
    background-position: center;
    background-repeat: no-repeat;
  }   

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;

      img {
        transition: transform 4s;
      }

      &:hover {
        img {
          transform: rotate(360deg);
        }
      }

      li {
        margin: 0 15px;
        display: flex;
        align-items: center;

        a {
          color: $standardTextColor;
          font-size: 25px;

          .line {
            transition: width 0.25s ease-out;
            height: 2px;
            width: 0;
            background-color: #eb7263;
          }

          &:hover {
            .line {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@keyframes nav-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
