.scroller {
  height: 100vh;
}

.home-projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: distribute;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  // background-color: #E5E5E5;

  #frame-circle {
    position: absolute;
    left: -300px;
    height: 600px;
    width: 600px;
  }

  .text-wrap {
    position: relative;
    overflow: hidden;
    width: 38vw;
    height: 110vh;
    margin-bottom: 60vh;
    margin-left: 5vw;

    .panel-text {
      position: absolute;
      width: 38vw;
      height: 100%;
      color: $standardTextColor;

      transform: translateY(100%);
      opacity: 0;

      h2 {
        font-size: 45px;
      }
      p {
        font-size: 25px;
      }

      .tags-row {
        display: flex;
        flex-direction: row;

        .tag {
          background-color: #E3F1F5;
          color: #EC7363;
          padding: 0 10px;
          margin: 0 60px 0 0;
        }
      }
    }
  }

  .p-wrap {
    position: relative;
    overflow: hidden;
    width: 30vw;
    height: 90vh;

    .panel {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 120vh 90vh;
    }
  }
}

.next-section {
  height: auto;
  overflow-x: hidden;
  margin: 5vh 0 10vh 0;
  font-weight: 500;
}

// -------------------- carrousel ----------------------

.wrapper {
  height: auto;
  display: inline-flex;
  position: relative;

  p {
    font-size: 75px;
    padding: 40px 50px;
    color : #EC7363;
  }

  p:nth-child(2n+1) {
    color : transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #EC7363;
  }
}
