#header-portfolio {
    position: relative;
}

.texts-portfolio {
    width: 75vw;
    margin: 200px 15vw;

    h1 {font-size: 60px;}
    p {font-size: 40px;}

}

#frame-left-portfolio {
    position: absolute;
    height: 400px;
    width: 400px;
    left: -200px;
    top: 150vh;
    z-index: 0;
}

#frame-right-portfolio {
    position: absolute;
    height: 200px;
    width: 200px;
    right: -100px;
    transform: translateY(-75px);
    z-index: 0;
}

#portfolio-projects {
    width: 100vw;
    justify-content: center;
    height: auto;
    display: grid; 
    margin-bottom: 50px;
   

    column-gap: 30px;
    row-gap: 50px;

    .project {
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        color: #EB7263;

        .title-portfolio {
            transform: translateY(50px);
            transition: opacity 0.25s ease-out;
            margin: 0;
            padding: 50px;
            height: 100%;
            width: 100%;
            opacity: 0;
            font-size: 100px;
        }


        &:hover {
            .title-portfolio {
                opacity: 1;
                backdrop-filter: blur(10px);
                }
        }
    }
}

.portfolio-skills {
    height: auto;
}