$bodyLayoutX: 10vw;
$bodyLayoutY: 5vh;

$bgBodyColor: #fff;
$footerColor: #FFF;
$standardTextColor: #000;
$reverseTextColor: #fff;

$scrollBgImg : "https://portfoliob1.herokuapp.com/jeanne/images/scroll.svg";
$headerLogo : "https://portfoliob1.herokuapp.com/jeanne/images/logo_jeanne_txt.svg";
$footerBgImage : "https://portfoliob1.herokuapp.com/jeanne/images/footer_bg.svg";
$msgBg : "https://portfoliob1.herokuapp.com/jeanne/images/msg.svg";


$scrollbarColor: #0c5f65;
$scrollbarThumbColor: #35aca4;

$headerHeight: 5vh;