$bodyLayoutX: 10vw;
$bodyLayoutY: 5vh;

$bgBodyColor: #fff;
$footerColor: #FFF;
$standardTextColor: #000;
$reverseTextColor: #fff;

$scrollBgImg : "../images/scroll.svg";
$headerLogo : "../images/logo_jeanne_txt.svg";
$footerBgImage : "../images/footer_bg.svg";
$msgBg : "../images/msg.svg";


$scrollbarColor: #fff;
$scrollbarThumbColor: #B1DDEB;

$headerHeight: 5vh;