@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 100%;
  font-family: 'DM Sans', sans-serif;
}

body {
  line-height: 1.75;
  width: 100vw;
  overflow-x: hidden;
  background: #fff;
  color: #000;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

section {
  height: 100vh;
}

::-webkit-scrollbar {
  background-color: #0c5f65;
}

::-webkit-scrollbar-thumb {
  background-color: #35aca4;
}

.bg-txt {
  position: absolute;
  height: 237px;
  width: 709px;
  z-index: -1;
}

header {
  position: fixed;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5vh 10vw 0 10vw;
  z-index: 999;
  background-color: #fff;
}

header .logo {
  background-image: url("https://portfoliob1.herokuapp.com/jeanne/images/logo_jeanne_txt.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 450px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul li {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li a {
  color: #000;
  font-size: 25px;
}

header nav ul li a .line {
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
  height: 2px;
  width: 0;
  background-color: #000;
}

header nav ul li a:hover .line {
  width: 100%;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF;
  background-image: url("https://portfoliob1.herokuapp.com/jeanne/images/footer_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: #000;
  height: 400px;
  padding-left: 10vw;
}

footer h2 {
  font-size: 50px;
  font-weight: 700;
}

footer h3 {
  font-size: 25px;
  margin: 10px 0;
  padding: 0;
}

footer .social-media {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .social-media i {
  margin-right: 40px;
  font-size: 55px;
  color: #000;
}

footer #to-top {
  -webkit-transition: all ease-out 0.25s;
  transition: all ease-out 0.25s;
  position: absolute;
  right: 10vw;
  top: 150px;
  font-size: 50px;
}

footer #to-top:hover {
  top: 140px;
}

#home {
  padding-right: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .about {
  position: relative;
  width: 1200px;
  margin-left: 15vw;
  margin-top: 180px;
}

#home .about h1 {
  font-size: 60px;
  font-weight: 700;
}

#home .about p {
  font-size: 30px;
  font-weight: 400;
}

#home .scroll-indicator {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  width: 110px;
  height: 110px;
  background-image: url("https://portfoliob1.herokuapp.com/jeanne/images/scroll.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.scroller {
  height: 100vh;
}

.home-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-pack: distribute;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-projects #frame-circle {
  position: absolute;
  left: -300px;
  height: 600px;
  width: 600px;
}

.home-projects .text-wrap {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 75vh;
  margin-bottom: 40vh;
}

.home-projects .text-wrap .panel-text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.home-projects .text-wrap .panel-text h2 {
  font-size: 45px;
}

.home-projects .text-wrap .panel-text p {
  font-size: 30px;
}

.home-projects .text-wrap .panel-text .tags-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-projects .text-wrap .panel-text .tags-row .tag {
  background-color: #E3F1F5;
  color: #EC7363;
  padding: 0 10px;
  margin: 0 60px 0 0;
}

.home-projects .p-wrap {
  position: relative;
  overflow: hidden;
  width: 25vw;
  height: 90vh;
}

.home-projects .p-wrap .panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120vh 90vh;
}

.next-section {
  height: auto;
  overflow-x: hidden;
  margin: 5vh 0 10vh 0;
}

.wrapper {
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.wrapper p {
  font-size: 75px;
  padding: 40px 50px;
  color: #EC7363;
}

.wrapper p:nth-child(2n+1) {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #EC7363;
}

#header-portfolio {
  position: relative;
}

.texts-portfolio {
  width: 75vw;
  margin: 200px 15vw;
}

.texts-portfolio h1 {
  font-size: 60px;
}

.texts-portfolio p {
  font-size: 40px;
}

#frame-left-portfolio {
  position: absolute;
  height: 400px;
  width: 400px;
  left: -200px;
  top: 150vh;
  z-index: 0;
}

#frame-right-portfolio {
  position: absolute;
  height: 200px;
  width: 200px;
  right: -100px;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
  z-index: 0;
}

#portfolio-projects {
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  display: -ms-grid;
  display: grid;
  margin-bottom: 50px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
}

#portfolio-projects .project {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #eb7263;
}

#portfolio-projects .project .hover-project {
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  background-color: rgba(66, 154, 191, 0);
  height: 100%;
  width: 100%;
  z-index: 50;
}

#portfolio-projects .project .hover-project .title-portfolio {
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  margin: 50px;
  opacity: 0;
  font-size: 100px;
}

#portfolio-projects .project .hover-project:hover {
  background-color: #429abf;
}

#portfolio-projects .project .hover-project:hover .title-portfolio {
  opacity: 1;
}

.portfolio-skills {
  height: auto;
}

#header-single-project, #footer-single-project {
  position: relative;
}

#single-project {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-project #texts {
  margin: 100px 0;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#single-project #texts h1 {
  font-size: 60px;
}

#single-project #texts p {
  font-size: 40px;
}

#single-project .img-project {
  z-index: 5;
  height: 1200px;
  width: 1600px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

#single-project #row-tag {
  width: 100vw;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 40px;
}

#single-project a {
  text-decoration: none;
  color: #000;
}

.single-project-skills {
  height: auto;
}

#header-about-me {
  position: relative;
}

#about-me {
  height: auto;
  margin: 150px 0 200px 15vw;
}

#about-me #frame-left-about-me {
  position: absolute;
  height: 250px;
  width: 250px;
  left: -125px;
  top: 75vh;
}

#about-me h1 {
  font-size: 60px;
}

#about-me h2 {
  font-size: 50px;
}

#about-me p {
  width: 50vw;
  font-size: 40px;
}

#about-me #img-absolute {
  position: absolute;
  height: 900px;
  width: 900px;
  right: -300px;
  top: 500px;
}
/*# sourceMappingURL=style.css.map */