@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 100%;
  font-family: 'DM Sans', sans-serif;
}

body {
  line-height: 1.75;
  width: 100vw;
  overflow-x: hidden;
  background: #fff;
  color: #000;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

section {
  height: 100vh;
}

::-webkit-scrollbar {
  background-color: #0c5f65;
}

::-webkit-scrollbar-thumb {
  background-color: #35aca4;
}

.bg-txt {
  position: absolute;
  height: 237px;
  width: 709px;
  z-index: -1;
}

header {
  position: fixed;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5vh 10vw 0 10vw;
  z-index: 999;
  background-color: #fff;
}

header .logo {
  background-image: url("https://portfoliob1.herokuapp.com/jeanne/images/logo_jeanne_txt.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 320px;
  background-position: center;
  background-repeat: no-repeat;
}

header .logo svg {
  display: none;
}

header .logo:hover {
  background-image: none;
}

header .logo:hover svg {
  display: block;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul img {
  -webkit-transition: -webkit-transform 4s;
  transition: -webkit-transform 4s;
  transition: transform 4s;
  transition: transform 4s, -webkit-transform 4s;
}

header nav ul:hover img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

header nav ul li {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li a {
  color: #000;
  font-size: 25px;
}

header nav ul li a .line {
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
  height: 2px;
  width: 0;
  background-color: #eb7263;
}

header nav ul li a:hover .line {
  width: 100%;
}

@-webkit-keyframes nav-icon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes nav-icon {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF;
  background-image: url("https://portfoliob1.herokuapp.com/jeanne/images/footer_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  color: #000;
  height: 400px;
  padding-left: 10vw;
}

footer h2 {
  font-size: 50px;
  font-weight: 500;
}

footer #footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}

footer #footer-row .footer-items {
  margin-right: 200px;
}

footer #footer-row .footer-items h3 {
  font-size: 25px;
  margin: 0 0 50px 0;
  padding: 0;
  font-weight: 400;
}

footer #footer-row .footer-items .social-media {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer #footer-row .footer-items .social-media i, footer #footer-row .footer-items .social-media img {
  margin-right: 40px;
  font-size: 55px;
  color: #000;
}

footer #to-top {
  -webkit-transition: all ease-out 0.25s;
  transition: all ease-out 0.25s;
  position: absolute;
  right: 12vw;
  top: 100px;
  font-size: 50px;
  color: #EC7363;
}

footer #to-top:hover {
  top: 90px;
  cursor: pointer;
}

footer #msg {
  position: absolute;
  height: 100px;
  width: 100px;
  right: 10vw;
  top: 200px;
  background-image: url("https://portfoliob1.herokuapp.com/jeanne/images/msg.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#animation-load {
  position: relative;
  width: 100%;
  background-color: #fff;
}

#skip-animation {
  text-decoration: none;
  position: absolute;
  font-size: 20px;
  right: 0;
  bottom: 0;
  margin: 50px;
  color: #fff;
}

#skip-animation i {
  margin-left: 10px;
}

#home {
  padding-right: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .about {
  position: relative;
  width: 1200px;
  margin-left: 15vw;
  margin-top: 180px;
}

#home .about h1 {
  font-size: 60px;
  font-weight: 700;
}

#home .about p {
  font-size: 30px;
  font-weight: 400;
}

#home .scroll-indicator {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  width: 110px;
  height: 110px;
  background-image: url("https://portfoliob1.herokuapp.com/jeanne/images/scroll.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#home .scroll-indicator img {
  height: 100%;
  width: 100%;
  -webkit-animation: 10s linear 0s infinite normal scroll-indicator-roll;
          animation: 10s linear 0s infinite normal scroll-indicator-roll;
}

@-webkit-keyframes scroll-indicator-roll {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes scroll-indicator-roll {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.scroller {
  height: 100vh;
}

.home-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-pack: distribute;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-projects #frame-circle {
  position: absolute;
  left: -300px;
  height: 600px;
  width: 600px;
}

.home-projects .text-wrap {
  position: relative;
  overflow: hidden;
  width: 38vw;
  height: 110vh;
  margin-bottom: 60vh;
  margin-left: 5vw;
}

.home-projects .text-wrap .panel-text {
  position: absolute;
  width: 38vw;
  height: 100%;
  color: #000;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.home-projects .text-wrap .panel-text h2 {
  font-size: 45px;
}

.home-projects .text-wrap .panel-text p {
  font-size: 25px;
}

.home-projects .text-wrap .panel-text .tags-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-projects .text-wrap .panel-text .tags-row .tag {
  background-color: #E3F1F5;
  color: #EC7363;
  padding: 0 10px;
  margin: 0 60px 0 0;
}

.home-projects .p-wrap {
  position: relative;
  overflow: hidden;
  width: 30vw;
  height: 90vh;
}

.home-projects .p-wrap .panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120vh 90vh;
}

.next-section {
  height: auto;
  overflow-x: hidden;
  margin: 5vh 0 10vh 0;
  font-weight: 500;
}

.wrapper {
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.wrapper p {
  font-size: 75px;
  padding: 40px 50px;
  color: #EC7363;
}

.wrapper p:nth-child(2n+1) {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #EC7363;
}

#header-portfolio {
  position: relative;
}

.texts-portfolio {
  width: 75vw;
  margin: 200px 15vw;
}

.texts-portfolio h1 {
  font-size: 60px;
}

.texts-portfolio p {
  font-size: 30px;
}

#frame-right-portfolio {
  position: absolute;
  height: 1000px;
  width: 1000px;
  right: -500px;
  top: 125vh;
  z-index: 0;
}

#portfolio-projects {
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  display: -ms-grid;
  display: grid;
  margin-bottom: 50px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
}

#portfolio-projects .project {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #eb7263;
}

#portfolio-projects .project .hover-project {
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  background-color: rgba(177, 221, 235, 0);
  height: 100%;
  width: 100%;
  z-index: 50;
}

#portfolio-projects .project .hover-project .title-portfolio {
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  margin: 50px;
  opacity: 0;
  font-size: 55px;
}

#portfolio-projects .project .hover-project:hover {
  background-color: rgba(177, 221, 235, 0.9);
}

#portfolio-projects .project .hover-project:hover .title-portfolio {
  opacity: 1;
}

.portfolio-skills {
  height: auto;
  font-weight: 500;
  overflow-x: hidden;
}

#header-single-project,
#footer-single-project {
  position: relative;
}

#single-project {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-project #texts {
  margin: 100px 0;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#single-project #texts h1 {
  font-size: 60px;
}

#single-project #texts p {
  font-size: 40px;
}

#single-project .img-project {
  z-index: 5;
  height: auto;
  width: 83.3vw;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

#single-project #row-tag {
  width: 100vw;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 40px;
  font-weight: 500;
}

#single-project a {
  text-decoration: none;
  color: #000;
}

.single-project-skills {
  height: auto;
  font-weight: 500;
  overflow-x: hidden;
}

.tags-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tags-row .tag {
  color: #ec7363;
  background-color: #e3f1f5;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 60px 0 0;
}

#header-about-me {
  position: relative;
}

#about-me {
  height: auto;
  margin: 150px 0 200px 15vw;
}

#about-me h1 {
  font-size: 50px;
}

#about-me h2 {
  font-size: 40px;
}

#about-me p {
  width: 42vw;
  font-size: 30px;
}

#about-me #img-absolute {
  position: absolute;
  height: 800px;
  width: 800px;
  right: -350px;
  top: 450px;
}

#about-me .reveal {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */